@import 'tailwindcss';

#root {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

html,
body {
  font-synthesis: none;
  font-feature-settings: 'kern';
  -moz-font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  font-family: 'UI Sans', Lato, Arial, sans-serif;
  height: 100%;
  width: 100%;
  position: relative;
  overflow-y: hidden;
  background: #ffffff;

  *:not(ul) {
    box-sizing: border-box;

    @supports (-moz-appearance: none) {
      scrollbar-width: thin;
      scrollbar-color: rgba(60, 60, 60, 0.15) transparent;
    }

    ::-webkit-scrollbar {
      height: 16px;
      width: 16px;
      background-color: rgba(255, 255, 255, 0);
    }

    ::-webkit-scrollbar-track,
    ::-webkit-scrollbar-thumb {
      border: 6px solid rgba(255, 255, 255, 0);
      border-radius: 10px;
      background-clip: padding-box;
    }

    ::-webkit-scrollbar-corner {
      background: rgba(0, 0, 0, 0);
    }

    ::-webkit-scrollbar-track {
      background-color: rgba(255, 255, 255, 0);
    }

    ::-webkit-scrollbar-thumb {
      background-color: rgba(60, 60, 60, 0.15);
      &:hover {
        background-color: rgba(60, 60, 60, 0.2);
      }
      &:active {
        background-color: rgba(60, 60, 60, 0.3);
      }
    }
  }
}

@theme {
  --color-u-neutral-00: hsla(0, 0%, 100%, 1);
  --color-u-neutral-01: hsla(214, 8%, 98%, 1);
  --color-u-neutral-02: hsla(214, 8%, 96%, 1);
  --color-u-neutral-03: hsla(214, 8%, 94%, 1);
}
